<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangpuguang.blog.mapper.BlogPictureMapper">

    <resultMap type="com.huangpuguang.blog.domain.BlogPicture" id="BlogPictureResult">
        <result property="id"    column="id"    />
        <result property="fileId" column="file_id"    />
        <result property="picName"    column="pic_name"    />
        <result property="pictureSortId" column="picture_sort_id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBlogPictureVo">
        select id, file_id, pic_name, picture_sort_id, status, create_time, update_time from blog_picture
    </sql>

    <select id="selectBlogPictureList" parameterType="com.huangpuguang.blog.domain.BlogPicture" resultMap="BlogPictureResult">
        <include refid="selectBlogPictureVo"/>
        <where>
            <if test="fileId != null  and fileId != ''">
                and file_id = #{fileId}</if>
            <if test="picName != null  and picName != ''"> and pic_name like concat('%', #{picName}, '%')</if>
            <if test="pictureSortId != null  and pictureSortId != ''">
                and picture_sort_id = #{pictureSortId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectBlogPictureById" parameterType="Long" resultMap="BlogPictureResult">
        <include refid="selectBlogPictureVo"/>
        where id = #{id}
    </select>

    <insert id="insertBlogPicture" parameterType="com.huangpuguang.blog.domain.BlogPicture" useGeneratedKeys="true" keyProperty="id">
        insert into blog_picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">file_id,</if>
            <if test="picName != null">pic_name,</if>
            <if test="pictureSortId != null">picture_sort_id,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">#{fileId},</if>
            <if test="picName != null">#{picName},</if>
            <if test="pictureSortId != null">#{pictureSortId},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBlogPicture" parameterType="com.huangpuguang.blog.domain.BlogPicture">
        update blog_picture
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="picName != null">pic_name = #{picName},</if>
            <if test="pictureSortId != null">picture_sort_id = #{pictureSortId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlogPictureById" parameterType="Long">
        delete from blog_picture where id = #{id}
    </delete>

    <delete id="deleteBlogPictureByIds" parameterType="String">
        delete from blog_picture where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
