<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangpuguang.file.mapper.ProconStorageMapper">

    <resultMap type="com.huangpuguang.system.api.domain.ProconStorage" id="StorageResult">
        <result property="id"    column="id"    />
        <result property="adminId" column="admin_id"    />
        <result property="storageSize"    column="storage_size"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStorageVo">
        select id, admin_id, storage_size, status, create_time, update_time from t_procon_storage
    </sql>

    <select id="selectStorageList" parameterType="com.huangpuguang.system.api.domain.ProconStorage" resultMap="StorageResult">
        <include refid="selectStorageVo"/>
        <where>
            <if test="adminId != null  and adminId != ''">
                and admin_id = #{adminId}</if>
            <if test="storageSize != null "> and storage_size = #{storageSize}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectStorageById" parameterType="Long" resultMap="StorageResult">
        <include refid="selectStorageVo"/>
        where id = #{id}
    </select>

    <insert id="insertStorage" parameterType="com.huangpuguang.system.api.domain.ProconStorage" useGeneratedKeys="true" keyProperty="id">
        insert into t_procon_storage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adminId != null and adminId != ''">admin_id,</if>
            <if test="storageSize != null">storage_size,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adminId != null and adminId != ''">#{adminId},</if>
            <if test="storageSize != null">#{storageSize},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStorage" parameterType="com.huangpuguang.system.api.domain.ProconStorage">
        update t_procon_storage
        <trim prefix="SET" suffixOverrides=",">
            <if test="adminId != null and adminId != ''">admin_id = #{adminId},</if>
            <if test="storageSize != null">storage_size = #{storageSize},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStorageById" parameterType="Long">
        delete from t_procon_storage where id = #{id}
    </delete>

    <delete id="deleteStorageByIds" parameterType="String">
        delete from t_procon_storage where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
